{% extends 'base.html.twig' %}

{% block title %}AccessEntryCategory index{% endblock %}

{% block body %}
    <h1>Access Entry Categories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for access_entry_category in access_entry_categories %}
            <tr>
                <td>{{ access_entry_category.id }}</td>
                <td><strong>{{ access_entry_category.title }}</strong></td>
                <td>
                    <a href="{{ path('access_entry_category_show', {'id': access_entry_category.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('access_entry_category_edit', {'id': access_entry_category.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('access_entry_category_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
